[submodule "src/helpers"]
	path = client/src/helpers
	url = https://github.com/altmp/v8-helpers.git
[submodule "deps/cpp-sdk/cpp-sdk"]
	path = client/deps/cpp-sdk/cpp-sdk
	url = https://github.com/altmp/cpp-sdk.git
