name: Test client changes
on:
  push:
    paths:
      - "client/**"
      - "shared/**"
  pull_request:
    paths:
      - "client/**"
      - "shared/**"

env:
  BUILD_TYPE: Release

jobs:
  test-client:
    name: Test client changes
    runs-on: windows-2019

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: Create LFS file list
      run: git lfs ls-files -l | cut -d' ' -f1 | sort > .lfs-assets-id

    - name: Restore LFS cache
      uses: actions/cache@v2
      id: lfs-cache
      with:
        path: .git/lfs
        key: ${{ runner.os }}-lfs-${{ hashFiles('.lfs-assets-id') }}-v1

    - name: Git LFS Pull
      run: git lfs pull

    - name: Fetch Submodules
      shell: bash
      run: |
        git submodule init
        git submodule update

    - name: Generate
      shell: bash
      run: |
        cd client
        cmake . -BBUILD

    - name: Build
      shell: bash
      run: |
        cd client
        cmake --build BUILD --config $BUILD_TYPE

