name: Test server changes
on:
  push:
    paths:
      - "server/**"
  pull_request:
    paths:
      - "server/**"

jobs:
  test-server-windows:
    name: Test changes on Windows
    runs-on: windows-2019
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          submodules: recursive
          lfs: true

      - name: Build
        shell: cmd
        run: |
          cd server
          mkdir build
          pushd build
          cmake -G"Visual Studio 16" -A x64 ..
          cmake --build . --config Release

  test-server-linux:
    name: Test changes on Linux
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          submodules: recursive
          lfs: true

      - name: Build
        run: |
          sudo add-apt-repository ppa:ubuntu-toolchain-r/test
          sudo apt-get update
          sudo apt-get install gcc-8 g++-8
          cd server
          mkdir build-linux && cd build-linux
          cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_CXX_COMPILER=g++-8 ..
          cmake --build . --config Release
